# handle media files
server {
	listen 80;
	server_name	{{ project.domain_media_prefix }}.{{ project.domain_dev }};
	access_log	/var/log/nginx/{{ project.domain_media_prefix }}.{{ project.domain_dev }}.access.log main;
	error_log 	/var/log/nginx/{{ project.domain_media_prefix }}.{{ project.domain_dev }}.error.log debug;

	location / {
		alias    /data/www/{{ project.name }}/media/;
		add_header Access-Control-Allow-Origin *;
		add_header Access-Control-Allow-Credentials true;
	}
}

# handle static files
server {
	listen 80;
	server_name	{{ project.domain_static_prefix }}.{{ project.domain_dev }};
	access_log	/var/log/nginx/{{ project.domain_static_prefix }}.{{ project.domain_dev }}.access.log main;
	error_log 	/var/log/nginx/{{ project.domain_static_prefix }}.{{ project.domain_dev }}.error.log debug;

	location / {
		alias    /data/www/{{ project.name }}/static/;
		add_header Access-Control-Allow-Origin *;
		add_header Access-Control-Allow-Credentials true;
	}
}

# handle dynamic files
server {
	client_max_body_size 1024M;
	listen 80;
	server_name	{{ project.domain_dev }};
	access_log	/var/log/nginx/{{ project.domain_dev }}.access.log main;
	error_log 	/var/log/nginx/{{ project.domain_dev }}.error.log debug;

	location / {
		proxy_pass   http://127.0.0.1:8000;
		proxy_set_header Host $host;
	}
}